<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'start_page.welcome' | translate }}</mat-card-title>
    <mat-card-subtitle>{{ 'start_page.sub_welcome' | translate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 'start_page.description' | translate }}</p>
    <a href="https://material.angular.io/" target="_blank">{{ 'start_page.doc_link' | translate }}</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" (click)="openLink('https://material.angular.io/')">{{ 'start_page.learn_more' | translate }}</button>
  </mat-card-actions>
</mat-card>
